# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Flask
# =========================
instance/
.env
.flaskenv

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Testing / cache
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db